extends layout

block content
	pre= JSON.stringify(lessons)
	form.form-group#task-form
		input(
			name='name'
			type='text'
			placeholder='Enter Task Name'
		)
		input(
			type='text'
			placeholder='Lesson to which task is related'
		)
		textarea(
			name='description'
			placeholder='Task Descriptions'
		)
		textarea(
			name='tests'
			placeholder='Task Tests'	
		)
		button(
			type='submit'
			name='submit-task'
	
		) Submit
		
		select(name='lesson')
			each val, index in lessons
				option(value=val._id)= val.name


