extends layout

block content
	pre= JSON.stringify(lessons)
	form.form-group 
		input(
			type='text'
			placeholder='Enter Task Name'
		)
		input(
			type='text'
			placeholder='Lesson to which task is related'
		)
		input(
			type='textarea'
			placeholder='Task Descriptions'
		)
		input(
			type='textarea'
			placeholder='Task Texts'	
		)
